/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
} */

#myUserPhoto {
  max-height: 250px;
    margin: 5px auto 15px auto;
}

#userDetailPhoto {
  max-height: 225px;
  margin: 10px auto 20px auto;
}

#userDetailButtons {
  text-align: center;
}

#itemPhoto {
  max-height: 220px;
  margin: 10px auto 10px auto;
}

#myItemPhotos {
  max-height: 75px;
  margin: 2px auto 2px auto;
}

#userDetailItemPhotos {
  max-height: 150px;
  margin: 2px auto 2px auto;
}

#myItemText {
  font-size: 13px;
  text-align: center;
  vertical-align: middle;
}

#userBoxCards {
  max-height: 150px;
}

#userDetailBoxCards {
  max-height: 200px;
}

#userItemDescription {
  padding: 5px;
  overflow: hidden;
  height: 45px;
}

.appName {
  text-align: center;
}

#logo {
  max-width: 1200px
}
